@import '../colors.scss';
.Searcher{
    background-color:$mydarkligth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    a{
        all:unset;
    }

    div{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .SearcherInput, .SearcherButton{
        all:unset;
        padding: 0.5em;
        border-radius: 0.4em;
        transition: all 0.5s;
    }
    .SearcherInput{
        width: 20em;
        background-color: $mywhite;
        color: $mydark;
        
    }

    .SearcherButton {
        width: 8em;
        text-align: center;
        background-color: $myblue;
        color: $mywhite;
        cursor: pointer;
    }
    .SearcherButton:hover {
        background-color: $myblueligth;
        color: $mydark;
    }
}

